@model CategoryModel
@{
    ViewBag.Title = "مدیریت گروه " + Model.Title;
}

<div class="box">
    @using (Ajax.BeginForm(MVC.Dashboard.Category.Manage(), new AjaxOptions { HttpMethod = "Post", OnSuccess = "AjaxSuccess", OnBegin = "AjaxBegin", OnFailure = "AjaxFailure" }))
    {
        @Html.HiddenFor(m => m.Id)
        <div class="box-body">
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Title)
            </div>
            <div class="form-group col-md-6 ">
                @Html.LabelFor(m => m.Code)
                @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Code)
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.Color)
                @Html.TextBoxFor(m => m.Color, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Color)
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.Priority)
                @Html.TextBoxFor(m => m.Priority, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Priority)
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.ViewMode)
                @Html.EnumDropDownListFor(m => m.ViewMode, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ViewMode)
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.ParentId)
                @Html.Kendo().DropDownListFor(m => m.ParentId).BindTo(ViewBag.Cats as List<DropDownListItem>).Filter("contains").AutoBind(true)

            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.KeyWords)
                @Html.TextBoxFor(m => m.KeyWords, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Title)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "6" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-success">ذخیره</button>
            <button type="reset" class="btn btn-warning">انصراف</button>
        </div>
    }
</div>