@using Mn.NewsCms.Common;
@model List<FeedItem>
@{
    Layout = "~/Views/Shared/_LayoutFeedItems." + Mn.NewsCms.Web.WebLogic.CmsConfig.ThemeName + ".cshtml";
    ViewBag.PageCount = 15;
}

@section LeftContainer{

    @MNHelper.FlowUnFlow(ViewBag.EntityCode, ViewBag.Content)

    @{
        var site = ViewBag.siteCurrent as Site;
        <div style="text-align: right;" class="panel panel-default">
            <div class="panel-heading">
                سایت
                @site.SiteTitle
            </div>
            <div class="panel-body" style="padding: 10px;">
                <span>
                    آدرس @site.SiteUrl
                </span>
                <br />
                <span>
                    رتبه درگوگل @site.PageRank (Google Page Rank)
                </span>
                <br />
                <span class="text-info">
                    @site.SiteDesc
                </span>
                <br />
                <a class="btn btn-info" style="margin-right: -2px;margin-top:10px; font-size: 12px;" onclick="showAdminScript('@ViewBag.Content','@Request.FilePath','@ViewBag.Title')" id="btnShowScriptAdmin">
                    اسکریپت برای مدیران سایتها
                </a>
            </div>
        </div>
        <div style="display:none" title="اسکریپت '@ViewBag.Title'" id="DialogScriptAdminContiner">
        </div>
        <br />
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="h2">
                    سوژه‌های خبری
                </h3>
            </div>
            <div class="panel-body" style="padding:2px;">
                @{
                    if (ViewBag.RelatedTags == null)
                    {
                        ViewBag.RelatedTags = _tagBusiness.GetList().Where(t => !string.IsNullOrEmpty(t.ImageThumbnail)).Shuffle().Take(15).ToList();
                    }
                }
                @foreach (var tag in (ViewBag.RelatedTags as List<Tag>).Where(t => !string.IsNullOrEmpty(t.ImageThumbnail)).Take(15))
                {

                    <a class="ajaxlink" style="float:right"
                       href="/tag/@tag.Title"
                       data-title="@tag.Title"
                       data-content="@tag.Title" data-id="@tag.Id">
                        <img alt="@tag.Title" title="@tag.Title" style="width:80px;height:80px;margin:4px;" src='@string.Concat("/Images/LogicalImage/Tag_", tag.Id, ".jpg?h=80")' />
                    </a>
                }
            </div>
        </div>

        @Html.Action(MVC.Items.ActionNames.LastVisited, MVC.Items.Name)
    }
}


@if (ViewBag.VisualItems != null)
{
    <text>
        @Html.Partial(MVC.Items.Views._VisualItemList, ViewBag.VisualItems as List<FeedItem>);
    </text>
}

<div class="items-tab-container">
    <div class="items-tab" id="tab-1">
        @Html.Partial("_FeedItems.Tazeyab", Model)
    </div>
</div>
@*<div class="items-paging">
        @for (int i = 1; i < (int)ViewBag.PageCount; i++)
        {
            <a data-index="@i" data-target="/@ViewBag.EntityCode/items/@ViewBag.Content/@i" href="/q/@ViewBag.EntityCode/@ViewBag.Content/@i">
                @i
            </a>
        }
    </div>*@

