@model  Mn.NewsCms.Web.Areas.Dashboard.Models.RwpModel
@{
    ViewBag.Title = "مدیریت وب پارت ها";
}

@section Styles{
    <style type="text/css">
        .row {
            margin-bottom: 20px;
        }
    </style>
}
<div class="col-lg-10" style="min-height:1200px">
    @using (Ajax.BeginForm(MVC.Dashboard.Rwp.ActionNames.Manage, MVC.Dashboard.Rwp.Name,
        new AjaxOptions() { HttpMethod = "Post", OnSuccess = "RwpAjaxSuccess", OnFailure = "AjaxFailure" }, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.RemoteWebPartRef)

        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(m => m.WebPartTitle)
                @Html.TextBoxFor(m => m.WebPartTitle, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.WebPartTitle)
            </div>
            <div class="col-md-6">
                @Html.LabelFor(m => m.WebPartCode)
                @Html.TextBoxFor(m => m.WebPartCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.WebPartCode)
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.WebPartDesc)
            @Html.TextBoxFor(m => m.WebPartDesc, new { @class = "form-control", rows = "4" })
            @Html.ValidationMessageFor(m => m.WebPartDesc)
        </div>
        <div class="row">
            @Html.LabelFor(m => m.Url)
            @Html.TextBoxFor(m => m.Url, new { @class = "form-control text-left" })
            @Html.ValidationMessageFor(m => m.Url)
        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(m => m.Pattern)
                @Html.TextBoxFor(m => m.Pattern, new { @class = "form-control text-left" })
                @Html.ValidationMessageFor(m => m.Pattern)
            </div>
            <div class="col-md-6">
                @Html.LabelFor(m => m.UrlPattern)
                @Html.TextBoxFor(m => m.UrlPattern, new { @class = "form-control text-left" })
                @Html.ValidationMessageFor(m => m.UrlPattern)
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(m => m.Replace)
                @Html.TextBoxFor(m => m.Replace, new { @class = "form-control text-left" })
                @Html.ValidationMessageFor(m => m.Replace)
            </div>
            <div class="col-md-6">
                @Html.LabelFor(m => m.Keywords)
                @Html.TextBoxFor(m => m.Keywords, new { @class = "form-control text-left" })
                @Html.ValidationMessageFor(m => m.Keywords)
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(m => m.JavaScript)
                @Html.TextAreaFor(m => m.JavaScript, new { @class = "form-control text-left", rows = "4" })
                @Html.ValidationMessageFor(m => m.JavaScript)
            </div>
            <div class="col-md-6">
                @Html.LabelFor(m => m.InnerHtml)
                @Html.TextBoxFor(m => m.InnerHtml, new { @class = "form-control text-left", rows = "4" })
                @Html.ValidationMessageFor(m => m.InnerHtml)
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.FailedRequestCount)
            @Html.TextBoxFor(m => m.FailedRequestCount, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FailedRequestCount)
        </div>
        <div class="row">
            @Html.LabelFor(m => m.Css)
            @Html.TextAreaFor(m => m.Css, new { @class = "form-control text-left", rows = "5" })
            @Html.ValidationMessageFor(m => m.Css)
        </div>
        <div class="row">
            @Html.LabelFor(m => m.CssLink)
            @Html.TextBoxFor(m => m.CssLink, new { @class = "form-control text-left" })
            @Html.ValidationMessageFor(m => m.CssLink)
        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(m => m.CacheTime)
                @Html.TextBoxFor(m => m.CacheTime, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CacheTime)
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(m => m.DisableLink)
                @Html.CheckBoxFor(m => m.DisableLink)
                @Html.ValidationMessageFor(m => m.DisableLink)
            </div>
            <div class="col-md-6">
                @Html.LabelFor(m => m.Active)
                @Html.CheckBoxFor(m => m.Active)
                @Html.ValidationMessageFor(m => m.Active)
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(m => m.SelectedCategories)
                @(Html.Kendo().MultiSelectFor(m => m.SelectedCategories)
        .Name("SelectedCategories")
        .DataTextField("Title")
        .DataValueField("Value")
        .BindTo(ViewBag.Categories as List<Mn.Mn.NewsCms.Common.BaseClass.MnTitleValue>))
            </div>
            <div class="col-md-6">
                @Html.LabelFor(m => m.SelectedTags)
                @(Html.Kendo().MultiSelectFor(m => m.SelectedTags)
            .Name("SelectedTags")
            .MinLength(3)
            .AutoBind(false)
            .Value(ViewBag.Tags as List<TagViewModel>)
            .DataTextField("Title")
            .DataValueField("Id")
            .DataSource(datasource =>
            {
                datasource.Custom()
                         .ServerFiltering(true)
                         .ServerPaging(true)
                         .PageSize(10)
                         .Type("aspnetmvc-ajax")
                         .Transport(transport =>
                         {
                             transport.Read(r => r.Action(MVC.Dashboard.Tags.ActionNames.Tag_Read, MVC.Dashboard.Tags.Name));
                         })
                         .Schema(schema =>
                         {
                             schema.Data("Data")
                                   .Total("Total");
                         });
            }))
            </div>
        </div>

        <div class="row" style="margin-top:20px">
            <button type="submit" class="btn btn-primary">@Mn.NewsCms.Common.Resources.General.Save</button>
            <button type="reset" class="btn btn-danger">@Mn.NewsCms.Common.Resources.General.Cancel</button>
            <a target="_blank"
               href="/RemoteWebPart?wpcode=@Model.WebPartCode&tryNow=true"
               class="btn btn-danger pull-left">مشاهده خروجی</a>
        </div>
    }

</div>

@section Scripts{
    <script>
        function RwpAjaxSuccess(data) {
            AjaxSuccess(data);
            if (data.Status) {

                if ($("#Id").val() == "0")
                    location.href = location.href + "/" + data.data;
            }
        }
    </script>
}
