@using Mn.NewsCms.Common;
@model CatItemsPageModel
@{
    Layout = "~/Views/Shared/_LayoutFeedItems." + CmsConfig.ThemeName + ".cshtml";
}
@section RightContiner{

    @MenuHelper.RightMenuTop(Html, ViewBag.Content, ViewBag.Title, ViewBag.Description, ViewBag.ImageThumbnail, true)
    <br />
    @MNHelper.FlowUnFlow(ViewBag.EntityCode, ViewBag.Content)

    @MenuHelper.TreeMenu(Html, ViewBag.Categorys as List<Category>, true)

    @MenuHelper.TagMenu(Html, ViewBag.RelatedTags as List<Tag>)
}


@section LeftContainer{
    <div class="panel panel-default">
        <div class="panel-heading text-center" style="background-color:#3F627C;height:40px">
            <h3 class="h2">
                @Html.ActionLink("تبلیغات خبرخوان فارسی", MVC.Home.ActionNames.ads, MVC.Home.Name, null, new { style = "color: #fff" });
            </h3>
        </div>
        <div class="panel-body">
            @Html.Action(MVC.Ads.VerticalMenu(null, (int)ViewBag.EnTityRef, 0))
        </div>
        <br />
        <br />
        @Html.Action(MVC.Ads.VerticalMenuBottom())
        <br />
    </div>
}

@if (Model.Posts.Any())
{
    <text>
        @Html.Partial(MVC.Post.Views._PostItemList, Model.Posts);
    </text>
}
@if (Model.VisualItems.Any())
{
    <text>
        @Html.Partial(MVC.Items.Views._VisualItemList, Model.VisualItems);
    </text>
}
@Html.Partial("_FeedItems." + CmsConfig.ThemeName, Model.Items)

