@model List<FeedItem>
@using Tazeyab.Common.Models;

@if (Model.Count() == 0)
{
    <br />
    <br />
    <span style="color: #999999; font-weight: 600" class="alert alert-Error">هیج موردی یافت نشد </span>
    <br />
    return;
}
<div id="DMainFeedItemContent" style="min-height: 800px">

    <div class="alert alert-info">
        <span>@ViewBag.PageHeader</span>
        <span style="float: left">
            از تاریخ
            @MNHelper.getpersianDateTime(@Model.First().PubDate)
            به قبل
        </span>
    </div>


    @foreach (var x in Model)
    {

        <div class="DItem" style="direction: rtl; text-align: right; min-height: 45px;">
            <div class="FeedItemSite">
                @if (x.Title.Length < 100)
                {

                    <a target="_blank"
                       class="FeedTitle h2"
                       rel="nofollow"
                       feeditemid="@x.Id.ToString()"
                       href="/site/@x.SiteUrl/@(string.IsNullOrEmpty(x.Id.ToString()) ? x.ItemId.ToString() : x.Id.ToString())/@x.Title.RemoveBadCharacterInURL()">
                        @x.Title
                    </a>
                }
                else
                {

                    <a target="_blank"
                       class="FeedTitle h2"
                       rel="nofollow"
                       feeditemid="@x.Id"
                       href="/site/@x.SiteUrl/@(string.IsNullOrEmpty(x.Id.ToString()) ? x.ItemId.ToString() : x.Id.ToString())/@x.Title.RemoveBadCharacterInURL()">
                        @x.Title.Substring(0, 98)...
                    </a>

                }
                <br />
                <div>
                    <div style="float: right">
                        @Html.ActionLink(x.SiteTitle + " " + x.SiteUrl + " ", x.SiteUrl + "/", "Site", null, new { @rel = "nofollow", @style = "background-image: url(http://www.google.com/s2/favicons?domain=" + x.SiteUrl + ");", @class = "ItemSiteTitle" })
                        <span>|| </span>
                    </div>
                    <div style="float: right">
                        @MNHelper.getpersianDateTime(x.PubDate)
                    </div>

                </div>
                <br />
            </div>
            <input type="button" onclick="ToggleItem(this)" class="UpBtn" style="width: 28px" value="" />
            <div class="ItemToggle" style="">
                <div style="direction: rtl; text-align: right" class="ItemContent">
                    @(new HtmlString(x.Description))
                </div>
                <br />
            </div>
        </div>
    }
    <br />
    <br />
    <div class="MoreBtn" style="width: 90%; margin-left: auto; margin-right: auto">
        @if (Model.Count() >= ViewBag.PageSize)
        {
            @Html.ActionLink("مطالب بیشتر...", ViewContext.RouteData.Values["action"].ToString(), new { content = ViewBag.Content, pagesize = ViewBag.PageSize, pageindex = ViewBag.PageIndex, lastitempubdate = Model.Last().PubDate }, new { style = "color:#fff;border:0" })
        }
    </div>
    <br />
</div>


