@{
    Layout = "~/Views/Shared/BaseLayout." + Mn.NewsCms.WebCore.WebLogic.CmsConfig.ThemeName + ".cshtml";
}

@section MetaTag{
    @RenderSection("MetaTag", false)
}

@section Header
{
    @if (IsSectionDefined("Header"))
    {   @RenderSection("Header")}
    else
    {

    }
}

@section Styles{
    @RenderSection("Styles", false)
}

@section PageHeader{
    @RenderSection("PageHeader", false)
}

<section class="table-row">
    <div class="table-cell aside right col-sm-4  hidden-xs text-center" id="DRightMenu">
        @if (IsSectionDefined("RightContiner"))
        {   @RenderSection("RightContiner")}
        else
        {
            @MenuHelper.TreeMenu(Html, ViewBag.Categorys as List<Category>)
        }
    </div>
    <div class="table-cell" id="DMainContiner">
        @RenderBody()
    </div>
    <div class="table-cell aside left hidden-xs hidden-sm text-center">
        @if (IsSectionDefined("LeftContainer"))
        {
            @RenderSection("LeftContainer", false)
        }
        else
        {
            <div class="panel panel-default">
                <div class="panel-heading text-center" style="background-color:#3F627C;height:40px">
                    <h3 class="h2">
                        @Html.ActionLink(Resources.Core.AdsTitle, MVC.Home.ActionNames.ads, MVC.Home.Name, null, new { style = "color: #fff" });
                    </h3>
                </div>
                <div class="panel-body" style="padding:0px">
                    @Html.Action(MVC.Ads.VerticalMenu(null, null, 0))
                </div>
                <br />
                <br />
                @if (IsSectionDefined("LeftMenu_Down"))
                {
                    @RenderSection("LeftMenu_Down", false)
                }
                else
                {
                    @Html.Action(MVC.Ads.VerticalMenuBottom())
                }
                <br />
            </div>
        }
    </div>
</section>

@section Footer{
    @RenderSection("Footer", false)
}

@section Scripts
{
    @RenderSection("Scripts", false)
}