@{
    ViewBag.Title = "اسکریپت مخصوص مدیران سایت ها";
}
@section RightContiner{

    @MenuHelper.TreeMenu(Html, null)
    <br />

    @MenuHelper.TagMenu(Html, ViewBag.TopTags)
    <br />
    <div class="downarrowdiv" style="width: 95%; text-align: right; font-size: 11px; margin-bottom: 2px"
        dir="rtl">
        با کلیک بروی نام هر سایت آخرین مطالب آنها را همینجا مشاهده کنید
    </div>
    @MenuHelper.SiteMenu(Html, null)
    <br />
    <br />
}
<h5 class="h5">اسکریپت مخصوص مدیران سایت ها و صاحبان وبلاگ</h5>
<br />
<div style="line-height: 2.5em; font-size: 11.5px; text-align: right">
    یکی از امکانات ویژه سایت @Resources.Core.SiteName برای مدیران سایت ها و صاحیان وبلاگ های شخصی اسکریپت های بخش های مختلف  خبری،ورزشی،علمی و سرگرمی است.
شما با کپی این اسکریپت ها در وبلاگ و وب سایت تان میتوانید آخرین مطالب مربوط به هر بخش را در سایتتان نمایش دهید.
    <br />
    <img src="~/Images/man-sharp.jpg" title="مدیران سایت ها" class="img-rounded" style="float: left; margin: 2px; width: 250px" />
    <span class="icon-gift"></span>
    <span class="text-info">بطور مثال:
    </span>
    اگر شما وبلاگ ورزشی یا فوتبالی دارید و قصد دارید هر ساعت آخرین اخبار و مطالب مربوط به
    <a style="color: red" href='~/tag/perspolis'>"تیم پرسپولیس" </a>
    را به کاربرانتان نمایش دهید میتوانید با کپی اسکریپت مربوط و قرار دادن آن در هر بخش از سایتتان لحظه به لحظه آخرین اخبار و حاشیه های مربوط به باشگاه پرسپولیس را در سایتتان داشته باشید.

این امکان به شما این قابلیت را میدهد که همواره سایتی بروز و کاربردی داشته باشید که کاربرانتان هر لحظه با نمایش خبرها و مطالب جدید و مرتبط با زمینه فعالیتان وبلاگتان غافلگیر و سر ذوق بیاورید.
    <br />
    <em class="text-center">ناگفته پیداست شما به عنوان مدیر یک سایت با هر نوع موضوعی که فعالیت میکنید قادر نخواهید بود مدام مطالب جدید و جذاب آن زمینه را رصد و منتشر کنید.
    </em>
    <br />
    <br />
    <span class="alert alert-warning">در نتیجه بهترین راه حل برای بروز ماندن و جلب رضایت کاربران سایتتان استفاده از اسکریپت های @Resources.Core.SiteName است.
    </span>
    <br />
    <br />
    <span class="icon-gift"></span>
    <span class="text-info">بطور مثال:
    </span>
    اگر شما مدیر وبلاگ طرفداران یک خواننده پاپ هستید.کاربرانی که همه روز به وبلاگ شما سر میزنند تا مطالبی را درباره خواننده مورد علاقه شان بخوانند خیلی خوشحال تر(!) خواهند شد اگر در منوی کناری خبرهای هایی پیرامون "موسیقی پاپ" و "دیگر خواننده های پاپ" و "آهنگ های جدید" و...  را مشاهده کنند که در طول همین یک ساعت اخیر در فضای وب فارسی منتشر شده اند!!
واقعا هیجان انگیز نیست؟!
    <br />
    <br />
    این اسکریپت ها را در سه نوع مختلف در دسترس شما قرار دارند:
    <br />
    <ul>
        <li>
            <span class="media-heading">1.	اسکریپت دسته بندی:</span>
            این اسکریپت ها مربوط دسته بندی های سایت @Resources.Core.SiteName میباشد.
    <br />
            <span class="icon-gift"></span>
            <span class="text-info">بطور مثال:
            </span>
            <a href="~/cat/news">آخرین خبرها </a>،
    <a href="~/cat/sport">اخبار ورزشی</a>،
    <a href="~/cat/fun">سرگرمی</a>،
    <a href="~/cat/mag">مجلات اینترنتی</a>،
    <a href="~/cat/biz">اقتصاد و کسب و کار</a>،
    <a href="~/cat/it">فناوری اطلاعات</a>،
    <a href="~/cat/developer">برنامه نویسی</a>،
    <a href="~/cat/download">دانلود</a>
            و...
    <br />
        </li>
        <li>2.	اسکریپت تگ:@Resources.Core.SiteName شامل تگ های متنوع است که شما میتوانید با جستجو و رفتن به صفحه مربوط به هرکدام کد مورد نطرتان را کپی کنید.
    این تگ ها در عناوین مختلف  و موضوعات بسیار متنوعی را شامل می شوند که از سایت های برگزیده ایرانی گردآوری شده اند.
    <br />
            <span class="icon-gift"></span>
            <span class="text-info">بطور مثال:
            </span>
            <a href="~/tag/manchester">منچستر</a>،
     <a href="~/tag/barsa">بارسلونا</a>،
     <a href="~/tag/downloadfilm">دانلود فیلم</a>،
     <a href="~/tag/android">اندروید</a>،
      <a href="~/tag/khatami">محمد خاتمی</a>،
      <a title="اصلاح طلبان" href="~/tag/اصلاح طلبان">اصلاح طلبان</a>،     
      <a href="~/tag/sinama">سینما</a>،
       <a href="~/tag/alikarimi">علی کریمی</a>،
       <a href="~/tag/chavoshi">محسن چاوشی</a>،
       <a href="~/tag/teraktor">تیم فوتبال تراکتور</a>
            و...
    <br />
        </li>
        <li>3.	آخرین مطالب یک سایت:تقریبا همه سایت های معتبر ایران در @Resources.Core.SiteName دارای یک صفحه ثابت هستند که شما می توانید گزیده مطالب آنها را در آنجا ببینید و اسکریپت انرا در سایتتان کپی کنید.
    <br />
            <span class="icon-gift"></span>
            <span class="text-info">بطور مثال:
            </span>
            اگر شما یک سایت خبری دارید میتوانید با قرار دادن اسکریپت سایت 
    <a href="~/site/asriran.ir/">"عصر ایران"
    </a>
            آخرین اخبار مربوط به این سایت را نمایش دهید.یا اگر یک سایت فوتبالی هستید با قرار دادن 
    اسکریپت 
     <a href="~/site/varzesh3.ir/">"ورزش سه"
     </a>
            میتوانند آخرین خبرهای این سایت را به کاربرانتان نمایش دهید.
        </li>
    </ul>

    <div class="well">
        نحوه استفاده:
برای استفاده ازین اسکریپت ها اگر کمی با اصول وب آشنا باشید،باید به شما عرض کنم که چندان کار مشکلی نخواهید داشت!
شما فقط کافی است در کادر اسکریپت ها یک Ctrl+A بزنید تا همه متن انتخاب شود و سپس Ctrl+C که متن انتخاب شده کپی شود.سپس در هر جای وبلاگتان که خواستید Ctrl+V بزنید و اسکریپت را در سایتان قرار دهید.
با توجه به اینکه این اسکریپت ها را در هر جایی از سایت تان که قرار دهید به اندازه طول آن بخش کشیده میشود،حرفه ای تر و بهتر آن است آنها را در بخش های کناری(منو) سایت قرار دهید.
    </div>

    
    <h4>راهنمای وبلاگ های بلاگفا
    </h4>
    <br />
    <span>اگر وبلاگ شما بلاگفا است میتوانید به سادگی با سه کلیک اسکریپت را در وبلاگتان  قرار دهید
    </span>
    <br />
    <img src="~/Images/Help/blogfa1.png" title="راهنمای مدیران سایت ها بلاگفا" class="img-rounded" style="margin: 2px; width: 650px" />
    <br />
    <br />
    <img src="~/Images/Help/blogfa2.png" title="راهنمای مدیران سایت ها بلاگفا" class="img-rounded" style="margin: 2px; width: 650px" />
    <br />
    <br />
    <img src="~/Images/Help/blogfa3.png" title="راهنمای مدیران سایت ها بلاگفا" class="img-rounded" style="margin: 2px; width: 650px" />
    <br />
    <br />
</div>
